<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upcoming soccer matches</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Upcoming Soccer Matches</h2>
    <table>
        <thead>
            <tr>
                <th>Home Team</th>
                <th>Away Team</th>
                <th>Date</th>
                <th>Time</th>
                <th>Venue</th>
            </tr>
        </thead>
        <tbody id="matches"></tbody>
    </table>
    <script src="{{ url_for('static' , filename = 'script.js')}}"></script>

</body>

</html>